@using Microsoft.Extensions.Localization
@inject IStringLocalizer<string> Localizer

@{
    ViewBag.PageType = "landing-page";
    ViewData["Title"] = Localizer["Confirmation password recovery"];
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">@Localizer["We have send it"]</h1>
                <div><h4>@Localizer["An email was sent to"] <strong>@ViewBag.Email</strong>. @Localizer["In email you will find a link that you will need access in order to change the password"].</h4></div>
                <div><h4>@Localizer["Not found email message"]</h4></div> <br />
                <a href="@Url.AbsoluteAction("ForgetPassword", "Email", new{id= @ViewBag.Email})" class="btn btn-success btn-raised btn-lg">@Localizer["Resend email"]</a>
            </div>
        </div>
    </div>
</div>